<header class="shadow-md py-2">
	<div class="container mx-auto grid grid-cols-2 justify-between gap-5 py-4">
		<a href="#">Logo</a>
		<nav *ngIf="isAuth; else isNotAuth" class="flex justify-end">
			<ul class="flex items-center gap-5">
				<li class="text-white/50">
					<a
						routerLink=""
						routerLinkActive="text-white"
						[routerLinkActiveOptions]="{ exact: true }"
						>Home</a
					>
				</li>
				<li class="text-white/50">
					<a routerLink="profile" routerLinkActive="text-white"
						>Profile</a
					>
				</li>
				<li class="text-white/50">
					<button class="flex">
						<fa-icon
							[icon]="logoutIcon"
							class="text-white"
						></fa-icon>
					</button>
				</li>
			</ul>
		</nav>
		<ng-template #isNotAuth>
			<ul class="flex gap-4 items-center ml-auto">
				<li class="text-white/50">
					<a routerLink="signup" routerLinkActive="text-white"
						>Sign Up</a
					>
				</li>
				<li class="text-white/50">
					<a routerLink="login" routerLinkActive="text-white"
						>Login</a
					>
				</li>
			</ul>
		</ng-template>
	</div>
</header>
